In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
Path  = r'/Users/ghalebju/Desktop/Data Analysis Format/Part 4/Instacart Basket Analysis'

In [3]:
customer = pd.read_csv(os.path.join (Path,'02 Data', 'original Data', 'customers.csv'))

In [4]:
customer.columns

Index(['user_id', 'First Name', 'Surnam', 'Gender', 'STATE', 'Age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

In [5]:
customer.head ()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [6]:
customer.shape

(206209, 10)

In [2]:
customer.describe

NameError: name 'customer' is not defined

In [7]:
customer.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       206209 non-null  int64
 1   First Name    194950 non-null  object
 2   Surnam        206209 non-null  object
 3   Gender        206209 non-null  object
 4   STATE         206209 non-null  object
 5   Age           206209 non-null  int64
 6   date_joined   206209 non-null  object
 7   n_dependants  206209 non-null  int64
 8   fam_status    206209 non-null  object
 9   income        206209 non-null  int64
dtypes: int64(4), object(6)
memory usage: 15.7+ MB

In [8]:
#Q4 based on our observations we decided to do three procedures with respect to data wrangling

In [9]:
#Q4 CHANGING DATA_TYPE (USER_ID)

customer['user_id'] = customer['user_id'].astype('str')

In [10]:
#Q4 DROPPING GERNER CULOMN

customer_1 = customer.drop(columns = ['Gender'])

In [11]:
#Q4 RENAMING
customer_2 = customer_1.rename(columns = {'fam_status' : 'family_status'},inplace = False)

In [12]:
#Q4 RENAMING
customer_wrangle = customer_2.rename(columns = {'STATE' : 'state'},inplace = False)

In [13]:
#Q4 CHECKING DATA_WRANGLES
customer_wrangle.columns

Index(['user_id', 'First Name', 'Surnam', 'state', 'Age', 'date_joined',
       'n_dependants', 'family_status', 'income'],
      dtype='object')

In [14]:
#Q5 CHECKIND MIX_DATA_TYPE

for col in customer_wrangle.columns.tolist():
  weird_cust = (customer_wrangle[[col]].applymap(type) != customer_wrangle[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customer_wrangle[weird_cust]) > 0:
    print (col)

First Name

In [15]:
#Q5 
customer_wrangle['First Name'] = customer_wrangle['First Name'].astype('str')

In [16]:
#Q5 CHECKINF DATA TYPE
customer_wrangle.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        206209 non-null  object
 1   First Name     206209 non-null  object
 2   Surnam         206209 non-null  object
 3   state          206209 non-null  object
 4   Age            206209 non-null  int64
 5   date_joined    206209 non-null  object
 6   n_dependants   206209 non-null  int64
 7   family_status  206209 non-null  object
 8   income         206209 non-null  int64
dtypes: int64(3), object(6)
memory usage: 14.2+ MB

In [17]:
#Q5 checking missing values
customer_wrangle.isnull().sum()

user_id          0
First Name       0
Surnam           0
state            0
Age              0
date_joined      0
n_dependants     0
family_status    0
income           0
dtype: int64

In [18]:
#5 there were no missing values in the data frame.

In [19]:
#Q5 DROPPINF DUPLICATES

customer_clean = customer_wrangle.drop_duplicates()

In [20]:
#Q5 CHECKING THE DUPLIICATES
customer_clean.shape

(206209, 9)

In [21]:
#Q5 OBSERVATION: by comparing the new shape with pervious shape, we noticed that there were no duplicates.

In [22]:
#Q6
ords_prods_merged = pd.read_pickle(os.path.join (Path,'02 Data', 'prepared Data', 'orders_products_merged_8.Pkl'))

In [23]:
#Q6 CHANGING DATA TYPE
ords_prods_merged['user_id'] = ords_prods_merged['user_id'].astype('str')

In [24]:
#Q6 SAMPLING THE DATA 60%
dev = np.random. rand(len(ords_prods_merged)) <= 0.6

In [25]:
#Store 60% of the sample in the dataframe big
big = ords_prods_merged[dev]

In [26]:
#Store 40% of the sample in the dataframe small
small = ords_prods_merged[~dev]

In [27]:
#Q6 MERGING BITH DATA FRAMES
ords_prods_cust_merged = big.merge(customer_clean, on = 'user_id')

In [28]:
#Q8 EXPORTING DATA FRAME
ords_prods_cust_merged.to_pickle(os.path.join( Path, '02 Data','Prepared Data', 'orders_products_customers_merged.pkl'))